<html>
    <head>
        <title>
            <%= title  %>
        </title>

        <%- style %>
        
    </head>

    <body>
        <%- include('_header'); %>

       
        
        <main id="layout-main">
            <%- body %>

        </main>



        <%- script %>
        
    </body>
</html>